<ion-header>
<ion-navbar color="header-color">
    <ion-title><span style=" font-size:16px;">Nouveau mot passe</span></ion-title>
	<ion-buttons right>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<div *ngIf="isLoading">
		<ion-row >
			<ion-col style="text-align:center; text-color:gray;margin-top:30px;">
				Envois du code de reininitialisation,veuillez patienter ...
			<img src="assets/imgs/loading.gif" height="80%" width="80%">
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="!isLoading">
		<ion-row>
			<ion-col col-12 style="text-align:center;">
				<h5 style="color:gray;">Veuillez saisir votre Email/Tel.Nous vous enverons un code de reinitialisation. </h5>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="!isAccountExist" style="margin-top:-30px;">
			<ion-col col-12>
				<p style="color:red;text-align:center; font-size:14px;"> Compte non existant,veuillez verifier et ressayer</p>
			</ion-col>
		</ion-row>
		<form novalidate #form1="ngForm" (ngSubmit)="send(form1)">
			<ion-list>
				<ion-item>
					<ion-label  floating> Votre Tel/Email</ion-label>
					<ion-input  id="login"
								name="login"
								required  
								[(ngModel)]="data.login"
								pattern="(^([A-Za-z0-9])+\@([A-Za-z0-9])+\.([A-Za-z]{2,4})$)|(^6[0-9]{8}$)" 
								#login="ngModel">
					</ion-input>
				</ion-item>
				<ion-row *ngIf="login.invalid && login.dirty">
					<ion-col *ngIf="login.errors.required" style="font-size:10px;color:red;padding-left:15px;">
						valeur requise
					</ion-col>
					<ion-col *ngIf="login.errors.pattern" style="font-size:10px;color:red;padding-left:15px;">
						Entrer une adresse email ou un numero de telephone valide
					</ion-col>
				</ion-row>
			</ion-list>
			<ion-row> <button ion-button block color="costom-orange" >Retrouver mot de passe</button> 
			</ion-row><br/>
		</form>
	</div>
</ion-content>
