page-inscription {

		.passwordIcon{
   			font-size:2rem !important;
   			position: relative !important;
   			top: 22px !important;
   			margin: 0 auto !important;
   			color:gray;
		}

		.rePasswordIcon{
   			font-size:2rem !important;
   			position: relative !important;
   			top: 22px !important;
   			margin: 0 auto !important;
   			color: gray;
		}

}
