page-profil {
	ion-label{
	color:orange;
	}
.info-favori , .info-panier{
	background-color:gray;
	color:white;
	position:fixed;
	top:85px;
	z-index:9999;
	font-size:14px;
	margin-top:10px;
	text-align: center;
	width:95%;
	margin-left:3%;
}
}
