<ion-header>
<ion-navbar color="header-color">
    <ion-title><span style=" font-size:16px;">Nouveau mot de passe</span></ion-title>
	<ion-buttons right>
    </ion-buttons>
</ion-navbar>
</ion-header>


<ion-content padding>
	<div *ngIf="isLoading">
		<ion-row >
			<ion-col style="text-align:center; text-color:gray;margin-top:30px;">
				Reinitialisation du nouveau mot de passe,veuillez patienter ...<br/>
			<img src="assets/imgs/loading.gif" height="80%" width="80%">
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="!isLoading">
		<ion-row>
			<ion-col col-12 style="text-align:center;">
				<h5 style="color:gray;">Veuillez saisir votre le code de modification et votre nouveau mot de passe</h5>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="!isCorrectCode" style="margin-top:-30px;">
			<ion-col col-12>
				<p style="color:red; text-align:center; font-size:14px; ">Le code envoyer ne correspond pas votre compte,veuillez verifier et ressayer</p>
			</ion-col>
		</ion-row>
		<form novalidate #form1="ngForm" (ngSubmit)="send(form1)">
			<ion-list>

				<ion-item>
					<ion-label  floating> Code de reinitialisation</ion-label>
					<ion-input  
						id="code"
						name="code"
						required 
						[(ngModel)]="data.code"
						minlength="5"
						maxlength="5"
						#code="ngModel">
					</ion-input>
				</ion-item>
				<ion-row *ngIf="code.invalid && ( code.dirty || registrationFormSubmitted)">
					<ion-col *ngIf="code.errors.required" style="font-size:10px;color:red;padding-left:15px;">
						valeur requise
					</ion-col>
					<ion-col *ngIf="code.errors.minlength" style="font-size:10px;color:red;padding-left:15px;">
						5 caractères requis
					</ion-col>
					<ion-col *ngIf="code.errors.maxlength" style="font-size:10px;color:red;padding-left:15px;">
						5 caractères requis
					</ion-col>
				</ion-row> 


				<ion-item>
					<ion-label  floating>Votre nouveau mot de passe*</ion-label>
					<ion-input  id="password"
								name="password"
								[type]="passwordType" 
								clearOnEdit="false"
								required 
								minlength="6" 
								[(ngModel)]="data.password" 
								#password="ngModel">
					</ion-input>
					<ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'>
					</ion-icon>
				</ion-item>
				<ion-row *ngIf="password.invalid &&  (password.dirty || registrationFormSubmitted) ">
						<ion-col *ngIf="password.errors.required" style="font-size:10px;color:red;padding-left:15px;">
							valeur requise
						</ion-col>
						<ion-col *ngIf="password.errors.minlength" style="font-size:10px;color:red;padding-left:15px;">
							6 caracteres au minimum
						</ion-col>
				</ion-row>
			</ion-list>
			<ion-row> 
				<button ion-button block color="costom-orange">
					Retrouver mot de passe
				</button>
			</ion-row><br/>
		</form>
	</div>
</ion-content>
