<ion-header>
  <ion-navbar color="header-color">
    <ion-title><span style=" font-size:16px;">Enchere N° {{enchereNum}}</span></ion-title>
	<ion-buttons right>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >

	<div *ngIf="isLoading">
		<ion-row >
			<ion-col style="text-align:center;margin-top:30px;">
				Chargement  du produit,veuillez patienter ...
				<img src="assets/imgs/loading.gif" height="80%" width="80%">
			</ion-col>
		</ion-row>
	</div>

	<div *ngIf="isLoadingEnchere">
		<ion-row >
			<ion-col style="text-align:center;margin-top:30px;">
				Validation de votre enchere,veuillez patienter ...
				<img src="assets/imgs/loading.gif" height="80%" width="80%">
			</ion-col>
		</ion-row>
	</div>

	<div *ngIf="!isLoading && !isLoadingEnchere && statut=='404' ">
		<ion-row >
			<ion-col style="text-align:center;margin-top:40px; color: gray;">
				<h6>Oups! Enchères n'existant pas  ou est déja clos.</h6>	
			</ion-col>
		</ion-row>
	</div>

	<div *ngIf="!isLoading && !isLoadingEnchere && statut=='200'">

		<ion-row padding style="color:gray;font-size:12px; padding-top:10px;padding-bottom:0px;color:#416998;" >Enchere N° {{produit.numEnchere}} 
		</ion-row>

		<ion-row  padding style="font-size:18px;padding-top:0px;padding-bottom:0px;">           {{produit.name}} 
		</ion-row>

		<ion-row padding style=" color:gray;margin-top:-15px;">
			<span style="font-size: 14px; "> partager cette enchère sur </span>				
		</ion-row>

		<ion-row padding style=" color:gray;margin-top:-32px;">	 	 
			 	
			<span style="margin-right: 15px;"> 
			 	<a (click)="shareFacebook($event)"> 
			 		<ion-icon style="font-size: 20px;color: #3b5998;" name="logo-facebook"></ion-icon>		
			 	</a>
			</span>

			<span style="margin-right: 15px;"> 
				<a (click)="shareTwitter($event)"> 
					<ion-icon style="font-size: 20px; color: #2ba9e1;" name="logo-twitter"></ion-icon> 	
				</a>
			</span>

			<!-- <span> 
				<a  (click)="shareLinkedIn($event)" class="linkicon">
					<ion-icon style="font-size: 20px; color: #007bb6;" name="logo-linkedin"></ion-icon>
				</a>	
			</span> -->

		</ion-row>

		
		<ion-row>
			<ion-slides autoplay="3000" loop="true">
				<ion-slide>
					<img imageViewer src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage1" style="height:220px;"/>
				</ion-slide>
				<ion-slide *ngIf="produit.idImage2!='null'">
					<img imageViewer src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage2" style="height:220px;"/>
				</ion-slide>
				<ion-slide *ngIf="produit.idImage3!='null'">
					<img imageViewer src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage3" style="height:220px;" />
				</ion-slide>
				<ion-slide imageViewer *ngIf="produit.idImage4!='null'">
					<img src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage4" style="height:220px;" />
				</ion-slide>
			</ion-slides>
		</ion-row>

		<ion-row><br/>	
			<ion-col offset-2 col-8>
				<ion-row>
					<ion-col col-2 style=" border: 1px solid gray; width:40px; height:50px; margin-left:10px; text-align:center;"><img src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage1" style="height:40px;width:40px;"/>
					</ion-col>
					<ion-col col-2 *ngIf="produit.idImage2!='null'" style=" border: 1px solid gray; width:50px; height:50px; margin-left:10px; text-align:center;"><img src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage2" style="height:40px;width:40px;"/>
					</ion-col>
					<ion-col col-2 *ngIf="produit.idImage3!='null'" style=" border: 1px solid gray; width:50px; height:50px; margin-left:10px; text-align:center;"><img src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage3" style="height:40px;width:40px;"/>
					</ion-col>
					<ion-col col-2 *ngIf="produit.idImage4!='null'" style=" border: 1px solid gray; width:50px; height:50px; margin-left:10px; text-align:center;"><img src="assets/imgs/produit1.jpg" [src]="baseUrl+'image/'+produit.idImage4" style="height:40px;width:40px;"/>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row><br/> 

		<ion-row padding >

			<ion-col col-12  style="background-color: #F3F0F0;" >
				
					<form novalidate #form="ngForm" (ngSubmit)="encherir(form)">
						<ion-row>
							<ion-col col-8>
								<ion-item>
									<ion-input 
									type="number"
									placeholder="Entrer votre enchere"
									id="prix"
									name="prix"
									required 
									[(ngModel)]="enchere.prix" 
									#prix="ngModel"> 
									</ion-input>
								</ion-item>
								<ion-row *ngIf="prix.invalid && (prix.dirty || registrationFormSubmitted )">
									<ion-col *ngIf="prix.errors.required" style="font-size:10px;color:red;padding-left:15px;">
											valeur requise
									</ion-col>			
								</ion-row>
							</ion-col>

							<ion-col col-4>
								<button  color="costom-orange" ion-button>Encherir</button>
							</ion-col>
						</ion-row>
					</form>
				
				<ion-row>
					<ion-col col-12 style="text-align:justify;" >
						votre enchère doit etre supérieur à mise à prix et de préférences à la meilleure e enchères en cours. L'article reviendra de droit au meilleur encherisseur	à la fin de la vente, mais en cas d'inconvenace l'article pourra offert au meilleur encherisseur suivant et ainsi de suite.
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>

		<ion-row padding style="margin-top: -20px;" >
			<ion-col col-12 style="background-color: #F3F0F0;">

				<ion-row  >
					<ion-col col-12 style="border-bottom: 1px solid gray; text-align:center; ">
					A PROPOS DE L'ARTICLE</ion-col> 
				</ion-row>

				<ion-row>
					<ion-col col-6> Numero de la vente : </ion-col>
					<ion-col col-6> {{produit.numEnchere}} </ion-col>
				</ion-row>

				<ion-row>
					<ion-col col-6> état de l'article : </ion-col>
					<ion-col col-6> {{produit.etat}} </ion-col>
				</ion-row>

				<ion-row>
					<ion-col col-6>Mise à prix : 
					</ion-col>
					<ion-col col-6>{{produit.initPrice | currency:' ':'symbol':'1.0-0'}} FCFA 
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col col-6>nombres d'enchères : </ion-col>
					<ion-col col-6>{{historique.length}} <span  *ngIf="historique.length>0" (click)="showEnchereModal()" style="color: blue; font-size: 11px; text-decoration: underline;">(voir l'historique)</span></ion-col>
				</ion-row>

				<ion-row>
					<ion-col col-6>Enchère gagnante :  </ion-col>
					<ion-col col-6  *ngIf="enchereGagnant.price!='' " >{{enchereGagnant.price |currency:' ':'symbol':'1.0-0'}} FCFA  </ion-col>
				</ion-row>

				<ion-row>
					<ion-col col-6> Retour :  </ion-col>
					<ion-col col-6> Accepter sous 7 jours  </ion-col>
				</ion-row>

				<ion-row>
					<ion-col col-6> Fermeture de la vente :  </ion-col>
					<ion-col col-6> {{produit.closeDate.date | date:'d MMM  y, h:mm'}}  </ion-col>
				</ion-row>
			</ion-col>
		</ion-row>

		<ion-row padding style="margin-top: -20px;" >
			<ion-col col-12 style="background-color: #F3F0F0;">
				<ion-row  >
					<ion-col col-12 style="border-bottom: 1px solid gray; text-align:center; ">
					CARACTERISTIQUES DE L'ARTICLE</ion-col> 
				</ion-row>
				<ion-row *ngFor="let car of produit.detail">
					<ion-col col-5 style="color:gray;"> {{car.name}} : </ion-col>
					<ion-col col-7 style=""> {{car.value}}   </ion-col>
				</ion-row>
			</ion-col>
		</ion-row>

		<ion-row padding style="margin-top: -20px;" >
			<ion-col col-12 style="background-color: #F3F0F0;">
				<ion-row  >
					<ion-col col-12 style="border-bottom: 1px solid gray; text-align:center; ">
					DESCRIPTION DE L'ARTICLE</ion-col> 
				</ion-row>
				<ion-row >
					<ion-col col-12> {{produit.description}} </ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
