page-connexion {

}
 
 .pass-forget{
  position: absolute;
    right: 0px;
    padding: 20px;
	color:#488aff;
	font-size:16px;
    margin-top:-20px;
 }
 
 .create-account
 {
	width:100%;
	font-size:16px;
    margin-top:50px;
	text-align:center;
 }
 
 