
<ion-header>

  <ion-navbar color="header-color">
    <ion-title><span style=" font-size:16px;">Mot de passe</span></ion-title>
      
  </ion-navbar>
</ion-header>


<ion-content>
	<div *ngIf="isLoading">
		<ion-row >
			<ion-col style="text-align:center;margin-top:30px;">
				Modification du mot de passe, veuillez patienter ...
			<img src="assets/imgs/loading.gif" height="80%" width="80%">
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="!isLoading">
		<ion-row style="padding:0px 0px 0px 0px; margin:-16px 0px 0px 0px;">
			<ion-col col-12 style=" margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; ">
				<h5 style="color:gray;text-align:center; vertical-align:center; color:white; padding-top:4px; font-size:16px; background-color:gray; border: 1px solid gray;height:30px;"> 
					Modifier mon mot de passe
				</h5>
				<br/>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="hasSucceed && registrationFormSubmitted" style="margin-top:-10px;">
					<ion-col col-12>
						<p style="color:green;text-align:center; font-size:14px;">Mot de passe modifier avec succès </p>
					</ion-col>
		</ion-row>

		<ion-row *ngIf="!hasSucceed && registrationFormSubmitted">
					<ion-col col-12>
						<p style="color:red;text-align:center; font-size:14px;">Echec de la modification,ancien mot de passe incorrect</p>
					</ion-col>
		</ion-row>
		
		
		<form novalidate #form3="ngForm" (ngSubmit)="submitForm(form3)">
			<ion-list style="margin-top:-20px;"> 
				<ion-item>
					<ion-label  floating >Ancien mot de passe*</ion-label>
					<ion-input  id="oldPassword"
								type="password"
								name="oldPassword"
								required 
								minlength="6" 
								[(ngModel)]="user.oldPassword" 
								#oldPassword="ngModel">
					</ion-input>
				</ion-item>
				<ion-row *ngIf="oldPassword.invalid && ( oldPassword.dirty || registrationFormSubmitted)">
					<ion-col *ngIf="oldPassword.errors.required" style="font-size:10px;color:red;padding-left:15px;">
						Valeur requise
					</ion-col>
					<ion-col *ngIf="oldPassword.errors.minlength" style="font-size:10px;color:red;padding-left:15px;">
						6 caractères au minimum
					</ion-col>
				</ion-row>

				<ion-item>
					<ion-label  floating>Nouveau mot de passe*</ion-label>
					<ion-input  id="newPassword"
								type="password"
								name="newPassword"
								required 
								minlength="6" 
								[(ngModel)]="user.newPassword" 
								#newPassword="ngModel">
					</ion-input>
				</ion-item>
				<ion-row *ngIf="newPassword.invalid && ( newPassword.dirty || registrationFormSubmitted)">
					<ion-col *ngIf="newPassword.errors.required" style="font-size:10px;color:red;padding-left:15px;">
						Valeur requise
					</ion-col>
					<ion-col *ngIf="newPassword.errors.minlength" style="font-size:10px;color:red;padding-left:15px;">
						6 caracteres au minimum
					</ion-col>
				</ion-row>
				
				<ion-item>
					<ion-label  floating>Confirmation Mot de passe*</ion-label>
					<ion-input  id="rePassword"
								name="rePassword"
								type="password"
								required 
								minlength="6" 
								[(ngModel)]="user.rePassword" 
								#rePassword="ngModel">
					</ion-input>
				</ion-item>
				<ion-row *ngIf="rePassword.invalid && (rePassword.dirty || registrationFormSubmitted)">
					<ion-col *ngIf="rePassword.errors.required" style="font-size:10px;color:red;padding-left:15px;">
						Valeur requise
					</ion-col>
					<ion-col *ngIf="rePassword.errors.minlength" style="font-size:10px;color:red;padding-left:15px;">
						6 caractere au minimum
					</ion-col>
				</ion-row>
				<ion-row *ngIf="(user.rePassword!= user.newPassword) && (rePassword.dirty || registrationFormSubmitted)">
					<ion-col  style="font-size:10px;color:red;padding-left:15px;">
						mot de passe non identique 
					</ion-col>
				</ion-row>
			</ion-list> 
			
			<ion-row>
				<ion-col>
					<button ion-button block color="costom-orange"> Modifier </button> 
				</ion-col>
			</ion-row><br/>
		</form> 
	</div>
</ion-content>
